[Desktop Entry]
Name=Fegeya Gemini
Exec=gemini
Icon=/usr/share/pixmaps/gemini/gemini.png
Type=Application
Categories=GTK;GNOME;TerminalEmulator;
Terminal=false
